/*  CONTAINERS */

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.main {
    margin: 20px auto 0 auto;
    width: 1100px;
    font-size: 18px;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    display: inline-block;
}
.head-wrap {
    margin: 40px 500px 0;

    .title {
        margin: 0 8px 0;
        display: block;
    }

    img {
        height: 100px;
        width: 100px;
        display: block;
    }
}

.views {
    margin: 50px 100px 0px;
    text-align: center;
}

.foot-wrap {
    display: inline-block;
    img {
        display: inline-block;
    }
}





.big-pic {
    height: 200px;
    width: 200px;
}


.chosen-container {
    width: 100px;
}

/////////    BUTTONS    /////////

.button {
    width: 75px;
    height: 30px;
    text-align: center;
    background: linear-gradient(to bottom, #FBDE00 0%,#E5A700 100%);
    border-radius: 8px;
    border: 1px solid #BD7E1F;
    box-shadow: inset 0px 1px 0px #FFF7B2, 0px 2px 7px 0px #C8C8CB;
    display: inline-block;
    margin:0px;
}


/*  BROWSEHAPPY */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
