
// MIXINS
@mixin logo(){
    height: 100px;
    width: 100px;
    display: inline-block;
}






/*  CONTAINERS */

*{
    font-family: Lekton, sans-serif;
    color: rgb(10, 196, 255);
}

body {
    background: #103F69;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;

}

.white-house {
    background: url("../images/whitehouse.png") no-repeat;
    background-size: 750px;
    background-position-x: 244px;
    background-position-y: -24px;
}

.main {
    margin: 0 70px;
    width: 1100px;
    font-size: 18px;
    line-height: 30px;
    background-color: rgba(47, 122, 187, 0.5);
    border-radius: 6px;
    display: block;
}

.head-wrap {
    margin: 40px 0 0;;    
    
    .title {
        margin: 20px 395px 0;
        display: inline-block;
        font-weight: 900;
        font-size: 50px;
    }  
}

p {
    text-align: center;
}

.views {
    margin: 50px 100px 0px;
    text-align: center;
}

.foot-wrap {
    display: inline-block;
    margin: 188px 120px 0;
    padding-bottom: 10px;
    

    .logo {
        @include logo;
        margin-right: 225px;
    }
}


.chosen-single span {
    font-family: sans-serif;
    color: black;
}


.chosen-container {
    margin-right: 212px;
}

// viewB

.viewB {
    .yo {
        margin: 257px 0 0;
    }

    .logo {
        @include logo;
        margin-left: 300px;
        margin-top: -100px;
    }
}


/////////    BUTTONS    /////////

.button {
   width: 50px;
   height: 50px;
   text-align: center;
   background: rgb(16, 63, 105);
   border-radius: 25px;
   border: 1px solid rgb(33, 84, 128);
   box-shadow: 0px 0px 2px 0px rgb(47, 122, 187);
   display: inline-block;
   margin: 0px 0 0px 0;
   padding: 4px 0 0 0;
   font-size: 15px;
}

.button:hover {
    background: rgb(33, 84, 128);
}




/*  BROWSEHAPPY */
.browsehappy {
    margin: 0.2em 0;
    background:1;
    color: #000;
    padding: 0.2em 0;
}
