
// MIXINS
@mixin logo(){
    width: 12%;
    display: inline-block;
    margin: 0px 10px 0px;
}

@mixin wrap(){
    border-radius: 10px;
    margin: 0 auto 15px;
    padding: 30px;
    background: #103F69;
    display: inline-block;
    border: 1px solid #091A2C;
    box-shadow: 0px 0px 7px -2px #131212;
}


/*  CONTAINERS */

*{
    font-family: Lekton, sans-serif;
    color: #80AED3;
}

body {
    background: #103F69;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

.title {
        margin: 15px auto 0;
        font-weight: 900;
        font-size: 50px;
        display: block;
    }  

.logo-wrap {
    margin-bottom: -5px;
}

.white-house {
    width: 30%;
    display: inline-block;
}

.main {
    margin: 0 70px;
    line-height: 30px;
    background-color: rgba(47, 122, 187, 0.5);
    border-radius: 6px;
    display: block;
    border: 1px solid #091A2C;
    box-shadow: 0px 0px 7px -2px #131212;
}


h1 {
    padding-top: 20px;
}

.viewA {

    p {
    text-align: center;
    margin: 0px;
    padding-top: 0px;
    font-size: 25px;
    display: inline-block;
    max-width: 520px;
    min-width: 250px;
    }

    .info-wrap {
        margin-top: 20px;
    }
}

.logo {
    @include logo;
}

.input-wrap {
    border-radius: 10px;
    display: inline-block;
    padding: 30px;
    background: #103F69;
    vertical-align: top;
    margin: 0px 0px 20px 50px;
    border: 1px solid #091A2C;
    box-shadow: 0px 0px 7px -2px rgb(19, 18, 18);
}


.chosen-single span {
    font-family: sans-serif;
    color: black;
}


.chosen-results {
    background: #0F3055;
}

// viewB

.viewB {
    a {
        text-decoration: none;
    }
}

.memberView {
    @include wrap;
    border-radius: 10px;
    margin: 0px 10px 15px;
    padding: 30px;
    background: #103F69;
    width: 400px;

    p {
    text-align: center;
    margin: 0px;
    padding-top: 0px;
    font-size: 20px;
    display: block;
    max-width: 520px;
    min-width: 0px;
    }

    img {
        height: 100px;
        width: 100px;
        margin-right: 10px;
    }
}

// ViewD

.ViewD {
    padding: 20px 0 0 0;

    img {
        margin: 40px 0 10px;
    }

    .member-name {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .keyword-search {
        margin-bottom: 30px;
    }

    .bills {
        height: 500px;
        overflow: scroll;
        margin-bottom: 50px;
    }

    .billView {
        @include wrap;
        text-align: left;
        max-width: 600px;
        display: block;

            .button:hover {
                background: #0F3055;
            }

        .vote-box {    
            vertical-align: top;


            .vote {
                margin-top: 20px;
            }
        }

        .bill {
            display: inline-block;
            max-width: 400px;
            margin: 0 0 20px 50px;
        }

        .created {
            background: #0F3055;
            border-radius: 10px;
            border: 1px solid #091A2C;
            display: inline-block;
            padding: 10px 10px;
            font-size: 15px;
            box-shadow: 0px 0px 7px -2px #131212;
        }

        .green {
            color: green;
        }

        .red {
            color: red;
        }
    }
}

/////////    BUTTONS    /////////

.button {
    width: 70px;
    height: 70px;
    text-align: center;
    background: #0F3055;
    border-radius: 10px;
    border: 1px solid #091A2C;
    display: inline-block;
    margin: 0px 0 10px 0;
    padding: 4px 0 0 0;
    font-size: 15px;
    box-shadow: 0px 0px 7px -2px rgb(19, 18, 18);
}

.button:hover {
    background: rgb(33, 84, 128);
}

a {
    text-decoration: none;
}

.btn-wrap {
    width: 400px;
    margin: 0px auto;
}


/*  BROWSEHAPPY */
.browsehappy {
    margin: 0.2em 0;
    background:1;
    color: #000;
    padding: 0.2em 0;
}


//          trash
