/*  CONTAINERS */

/* line 22, ../../app/styles/main.scss */

* {
  font-family: Lekton, sans-serif;
  color: #80AED3;
}

/* line 27, ../../app/styles/main.scss */

body {
  background: #103F69;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* line 36, ../../app/styles/main.scss */

.title {
  margin: 15px auto 0;
  font-weight: 900;
  font-size: 50px;
  display: block;
}

/* line 43, ../../app/styles/main.scss */

.logo-wrap {
  margin-bottom: -5px;
}

/* line 47, ../../app/styles/main.scss */

.white-house {
  width: 30%;
  display: inline-block;
}

/* line 52, ../../app/styles/main.scss */

.main {
  margin: 0 70px;
  line-height: 30px;
  background-color: rgba(47, 122, 187, 0.5);
  border-radius: 6px;
  display: block;
  border: 1px solid #091A2C;
  box-shadow: 0px 0px 7px -2px #131212;
}

/* line 63, ../../app/styles/main.scss */

h1 {
  padding-top: 20px;
}

/* line 69, ../../app/styles/main.scss */

.viewA p {
  text-align: center;
  margin: 0px;
  padding-top: 0px;
  font-size: 25px;
  display: inline-block;
  max-width: 520px;
  min-width: 250px;
}

/* line 79, ../../app/styles/main.scss */

.viewA .info-wrap {
  margin-top: 20px;
}

/* line 84, ../../app/styles/main.scss */

.logo {
  width: 12%;
  display: inline-block;
  margin: 0px 10px 0px;
}

/* line 88, ../../app/styles/main.scss */

.input-wrap {
  border-radius: 10px;
  display: inline-block;
  padding: 30px;
  background: #103F69;
  vertical-align: top;
  margin: 0px 0px 20px 50px;
  border: 1px solid #091A2C;
  box-shadow: 0px 0px 7px -2px #131212;
}

/* line 100, ../../app/styles/main.scss */

.chosen-single span {
  font-family: sans-serif;
  color: black;
}

/* line 106, ../../app/styles/main.scss */

.chosen-results {
  background: #0F3055;
}

/* line 113, ../../app/styles/main.scss */

.viewB a {
  text-decoration: none;
}

/* line 118, ../../app/styles/main.scss */

.memberView {
  border-radius: 10px;
  margin: 0 auto 15px;
  padding: 30px;
  background: #103F69;
  display: inline-block;
  border: 1px solid #091A2C;
  box-shadow: 0px 0px 7px -2px #131212;
  border-radius: 10px;
  margin: 0px 10px 15px;
  padding: 30px;
  background: #103F69;
  width: 400px;
}

/* line 126, ../../app/styles/main.scss */

.memberView p {
  text-align: center;
  margin: 0px;
  padding-top: 0px;
  font-size: 20px;
  display: block;
  max-width: 520px;
  min-width: 0px;
}

/* line 136, ../../app/styles/main.scss */

.memberView img {
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

/* line 145, ../../app/styles/main.scss */

.ViewD {
  padding: 20px 0 0 0;
}

/* line 148, ../../app/styles/main.scss */

.ViewD img {
  margin: 40px 0 10px;
}

/* line 152, ../../app/styles/main.scss */

.ViewD .member-name {
  font-size: 40px;
  margin-bottom: 30px;
}

/* line 157, ../../app/styles/main.scss */

.ViewD .bills {
  height: 500px;
  overflow: scroll;
  margin-bottom: 50px;
}

/* line 163, ../../app/styles/main.scss */

.ViewD .billView {
  border-radius: 10px;
  margin: 0 auto 15px;
  padding: 30px;
  background: #103F69;
  display: inline-block;
  border: 1px solid #091A2C;
  box-shadow: 0px 0px 7px -2px #131212;
  text-align: left;
  max-width: 600px;
  display: block;
}

/* line 169, ../../app/styles/main.scss */

.ViewD .billView .button:hover {
  background: #0F3055;
}

/* line 173, ../../app/styles/main.scss */

.ViewD .billView .vote-box {
  vertical-align: top;
}

/* line 177, ../../app/styles/main.scss */

.ViewD .billView .vote-box .vote {
  margin-top: 20px;
}

/* line 184, ../../app/styles/main.scss */

.ViewD .billView .bill {
  display: inline-block;
  max-width: 400px;
  margin: 0 0 20px 50px;
}

/* line 190, ../../app/styles/main.scss */

.ViewD .billView .created {
  background: #0F3055;
  border-radius: 10px;
  border: 1px solid #091A2C;
  display: inline-block;
  padding: 10px 10px;
  font-size: 15px;
  box-shadow: 0px 0px 7px -2px #131212;
}

/* line 200, ../../app/styles/main.scss */

.ViewD .billView .green {
  color: green;
}

/* line 204, ../../app/styles/main.scss */

.ViewD .billView .red {
  color: red;
}

/* line 212, ../../app/styles/main.scss */

.button {
  width: 70px;
  height: 70px;
  text-align: center;
  background: #0F3055;
  border-radius: 10px;
  border: 1px solid #091A2C;
  display: inline-block;
  margin: 0px 0 10px 0;
  padding: 4px 0 0 0;
  font-size: 15px;
  box-shadow: 0px 0px 7px -2px #131212;
}

/* line 226, ../../app/styles/main.scss */

.button:hover {
  background: #215480;
}

/* line 230, ../../app/styles/main.scss */

a {
  text-decoration: none;
}

/* line 234, ../../app/styles/main.scss */

.btn-wrap {
  width: 400px;
  margin: 0px auto;
}

/*  BROWSEHAPPY */

/* line 241, ../../app/styles/main.scss */

.browsehappy {
  margin: 0.2em 0;
  background: 1;
  color: #000;
  padding: 0.2em 0;
}